body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
}

h1 {
  margin: 5px;
}

canvas {
  border: 2px solid #333;
  background: #fff;
  touch-action: none; /* mobile drag */
  max-width: 100%;
  height: auto;
}
